@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #19181a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #19181a;
    --foreground: #fefeff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.spotlight-bg {
  background: radial-gradient(
    290px circle at var(--x) var(--y),
    rgba(59, 130, 246, 0.18),
    transparent 60%
  );

  /* smooth dimming */

  transform: scale(1.2);
  transition:
    opacity 0.25s ease,
    transform 0.35s ease;
}
